.contentHeader {
	position:relative;
	left:50%;
	background-image:url('../template/img/background-default-top.png');
	background-position: top center, center bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto;
	top:50px;
	width:1000px;
	padding: 80px 40px 0px 40px !important;
	margin-left:-500px;
	margin-top: -24px !important;
	overflow: auto;
	box-sizing:border-box;
}
.content {
	position:relative;
	left:50%;
	background-image:url('../template/img/background-default-mid.png');
	background-position: top center, center bottom;
	background-repeat: repeat-y;
	background-size: 100% auto;
	width:1000px;
	padding: 50px 80px 80px 80px !important;
	margin-left:-500px;
	overflow: auto;
	box-sizing:border-box;
}

body {
	background-image:url('../template/img/background.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100% !important;
	background-position: center;
	min-height:100% !important;
}

p {
	font-size: 40px;
	text-align:center;
}

.cat_blocks {
	width:100%;
	padding:50px;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	background-image:url('http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg');
	background-size: 100% auto;
	background-position: top center;
	margin-top:20px;
	margin-bottom:20px;
}
